In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
from statsmodels.formula.api import ols
import statsmodels.api as sm
import scipy
import scipy.stats
import json

In [2]:
dd = pd.read_excel('TR4ret.xlsx')

In [3]:
ff.head()

,i,BT.A-GB,CCL-GB,MKS-GB,BARC-GB,ITRK-GB,BRBY-GB,NXT-GB,KGF-GB,ITV-GB,...,ALC-CH,PHNX-GB,NENT.B-SE,ADE-NO,NEXI-IT,PRX-NL,FDJ-FR,ENR-DE,JDEP-NL,ALE-PL
0,1,-0.045321,-0.051254,-0.041394,-0.049992,-0.038443,-0.057249,-0.049166,-0.052370,-0.026609,...,-0.028810,-0.038071,-0.044289,-0.080364,-0.095006,-0.053274,-0.038762,-0.084392,-0.024854,-0.119930
1,2,-0.036966,-0.043145,-0.033674,-0.048220,-0.024291,-0.035689,-0.030564,-0.029720,-0.023502,...,-0.022687,-0.022590,-0.038686,-0.070655,-0.068750,-0.037816,-0.021644,-0.067508,-0.023530,-0.064511
2,3,-0.032286,-0.037106,-0.030849,-0.023190,-0.021288,-0.034502,-0.028116,-0.025120,-0.021376,...,-0.022375,-0.022375,-0.035772,-0.070100,-0.047064,-0.029258,-0.018667,-0.045417,-0.020023,-0.056905
3,4,-0.027436,-0.033797,-0.027177,-0.022451,-0.020035,-0.024181,-0.024182,-0.023731,-0.019717,...,-0.021471,-0.017857,-0.032351,-0.061773,-0.042099,-0.028516,-0.016019,-0.029601,-0.019115,-0.040982
4,5,-0.026793,-0.032014,-0.021017,-0.018106,-0.018846,-0.024158,-0.016983,-0.021252,-0.017385,...,-0.021061,-0.017500,-0.027480,-0.055637,-0.031766,-0.028428,-0.015861,-0.025999,-0.016443,-0.038072

In [4]:
df = ff.drop(['i'], axis=1)
all_stock_names = df.columns

In [5]:
m = []
n = []
for i in all_stock_names:
    element1 = np.sum(df[i] < 0)
    m.append(element1)
    element2 = np.sum(df[i] > 0)
    n.append(element2)

In [6]:
names = []
for i in all_stock_names:
    names.append(i)

### functions

In [7]:
def omega_plus (P, gamma):
    result = (P**gamma)/(P**gamma+(1-P)**gamma)**(1/gamma)
    return result

def omega_minus (P, delta):
    result = (P**delta)/(P**delta+(1-P)**delta)**(1/delta)
    return result

def u_psilon_minus (x, labda, alpha):
    result = -labda * (-x)**alpha
    return result

def u_psilon_plus (x, alpha):
    result = x**alpha
    return result

def totalresults (nsigns, df):
    results = []
    for i in range(0, len(nsigns)):
        if i == 0:
            result = 0
            numbers = df['total'][0:nsigns[0]]
            for number in numbers:
                result += float(number)
            results.append(result)
        else:
            result = 0
            numbers = df['total'][nsigns[i-1]:nsigns[i-1]+nsigns[i]]
            for number in numbers:
                result += float(number)
            results.append(result)
    return results

### part 1 preperations

In [8]:
tkval1 = []
tkval1b = []

for i in m:
        for l in range(-i,0):
            part1 = omega_minus((l+i+1)/60, 0.69) - omega_minus((l+i)/60, 0.69)
            tkval1.append(part1) 

for j in all_stock_names:
        for k in range(0, m[names.index(j)]):
            part1b = u_psilon_minus(df[j][k:k+1], 2.25, 0.88)            
            tkval1b.append(part1b)

part1 = pd.DataFrame(tkval1, columns = ['tkval1'])
part1.insert(1, "tkval1b" ,tkval1b, True)
part1['total'] = part1['tkval1'] * part1['tkval1b']

### part 2 preperations

In [9]:
tkval2 = []
tkval2b = []

for a in n:             
    for b in range(1,a+1):
        part2 = omega_plus((a-b+1)/60, 0.61) - omega_plus((a-b)/60, 0.61)
        tkval2.append(part2)
    
for j in all_stock_names:
        for k in range(60-n[names.index(j)],60):
            part2b = u_psilon_plus(df[j][k:k+1], 0.88)            
            tkval2b.append(part2b)   
            
part2 = pd.DataFrame(tkval2, columns = ['tkval2'])
part2.insert(1, "tkval2b" ,tkval2b, True)
part2['total'] = part2['tkval2'] * part2['tkval2b']

### Results

In [10]:
results1 = totalresults (m, part1)
results2 = totalresults (n, part2)

In [11]:
allresults = pd.DataFrame(results1, columns = ['results1'])
allresults.insert(1, "results2", results2, True)
allresults['TK_values'] = allresults['results1'] + allresults['results2']

In [12]:
allresults.insert(0,"stocks", names, True)

In [13]:
final_df = allresults.sort_values(by=['TK_values'], ascending=False)
final_df

      stocks  results1  results2  TK_values
545  AUTO-GB -0.018397  0.035149   0.016752
231  BEAN-CH -0.019283  0.034947   0.015664
72    UPM-FI -0.025755  0.035122   0.009367
89    ELE-ES -0.026073  0.034405   0.008333
523   GJF-NO -0.025099  0.032346   0.007247
..       ...       ...       ...        ...
591   ALE-PL -0.041517  0.017065  -0.024451
71    VOE-AT -0.039701  0.011036  -0.028665
154    RF-FR -0.039664  0.006198  -0.033466
396   LDO-IT -0.047298  0.008733  -0.038565
230  GLPG-NL -0.047338  0.008716  -0.038622

[592 rows x 4 columns]

### Export to excel

In [77]:
final_df.to_excel (r'C:\Users\jorda\Trading week\TK_values_dataframe1.xlsx', index = False, header=True)